
#DATABASE_URL="file:./dev.db" # SQLite database file
DATABASE_URL="postgres://postgres.url:pooler.supabase.com:6543/postgres?pgbouncer=true"
DATABASE_DIRECT_URL="postgres://postgres:pooler.supabase.com:5432/postgres"

# Services
RAWG_API_KEY="RAWG-API-KEY"
NEXT_PUBLIC_GA_ID="Google-Analytics-ID"
NEXT_PUBLIC_LOCAL_STORAGE_PREFIX="@LocalEmuReady_"

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_xxxxxxxxxxxxxxxxxxxxx
CLERK_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxxx
CLERK_WEBHOOK_SECRET=whsec_xxxxxxxxxxxxxxxxxxxxx

NEXT_TELEMETRY_DISABLED=1
